<div class="ui mini modal">
  <div class="header">
    Message
  </div>
  <div class="content">
    <p>User and password incorrect</p>
  </div>
  <div class="actions">
    <div class="ui teal ok button">
      <i class="checkmark icon"></i>
      Ok
    </div>
  </div>
</div>


<div class="ui middle aligned center aligned grid">
  <div class="column">

    <div class="ui attached message">
      <h2 class="ui centered header">
          <%= __('Login')  %>
      </h2>
    </div>
    <form id="signinForm" class="ui form attached fluid segment" method="POST" autocomplete="off">
        <div class="field">
          <div class="ui left icon input">
            <i class="at icon"></i>
            <input type="text" name="email" placeholder="<%= __('E-mail address') %>">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="<%= __('Password') %>">
          </div>
        </div>
        <button class="ui fluid large basic blue button"><%= __('Sign In') %></button>

      <div class="ui error message"></div>
    </form>

    <div class="ui bottom attached warning message">
      <i class="icon help"></i>
      <%= __('New to us?') %> <a href="/account/signup"><%= __('Sign Up') %></a>
    </div>
  </div>
</div>
