<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui centered header">
        <%= __('Login')  %>
    </h2>
    <form id="signinForm" class="ui large form" method="POST" autocomplete="off">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="at icon"></i>
            <input type="text" name="email" placeholder="<%= __('E-mail address') %>">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="<%= __('Password') %>">
          </div>
        </div>
        <button class="ui fluid large basic blue button"><%= __('Sign In') %></button>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      <%= __('New to us?') %> <a href="/account/signup"><%= __('Sign Up') %></a>
    </div>
  </div>
</div>
