<div class="ui mini modal">
  <div class="header">
    Message
  </div>
  <div class="content">
    <p>Error</p>
  </div>
  <div class="actions">
    <div class="ui teal ok button">
      <i class="checkmark icon"></i>
      Ok
    </div>
  </div>
</div>


<div class="ui middle aligned center aligned grid">
  <div class="column">

      <div class="ui attached message">
        <h2 class="ui centered header">
            <%= __('Sign Up')  %>
        </h2>
      </div>
      <form id="signupForm" class="ui form attached fluid segment" method="post" autocomplete="off">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="name" placeholder="<%= __('Name') %>">
          </div>
        </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="at icon"></i>
              <input type="text" name="email" placeholder="<%= __('E-mail address') %>">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="<%= __('Password') %>">
            </div>
          </div>
          <div class="field">
            <div class="ui fluid search selection dropdown">
              <input name="country" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text"><%= __('What is your country?') %></div>
              <div class="menu">
                <% _.each(countries, function (country){ %>
                <div class="item" data-value="<%= country.id %>"><i class="<%= country.flag %> flag"></i><%= country.name %></div>
                <% }) %>
              </div>
             </div>
          </div>

          <div class="field">
            <div class="ui fluid search selection dropdown">
              <input name="language" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text"><%= __('I want to learn...') %></div>
              <div class="menu">
                <% _.each(langs, function (lang){ %>
                <div class="item" data-value="<%= lang.id %>"><i class="<%= lang.flag %> flag"></i><%= lang.name %></div>
                <% }) %>
              </div>
             </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input name="conditions" tabindex="0" class="hidden" type="checkbox">
              <label><%= __('I agree to the Terms and Conditions') %></label>
            </div>
          </div>
          <button id="send" class="ui fluid large basic blue button"><%= __('Sign Up')  %></button>
        <div class="ui error message"></div>
      </form>

      <div class="ui bottom attached warning message">
        <i class="icon help"></i>
        <%= __('You are previous registered?') %> <a href="/account/signin"><%= __('Sign In')  %></a>
      </div>

  </div>
</div>
