
<div class="ui middle aligned center aligned grid">
  <div class="column">

      <h2 class="ui centered header">
          <%= __('Sign Up')  %>
      </h2>
      <form id="signupForm" class="ui large form" method="post" autocomplete="off">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="at icon"></i>
              <input type="text" name="email" placeholder="<%= __('E-mail address') %>">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="<%= __('Password') %>">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password2" placeholder="<%= __('Password') %>">
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input name="conditions" tabindex="0" class="hidden" type="checkbox">
              <label><%= __('I agree to the Terms and Conditions') %></label>
            </div>
          </div>
          <button id="send" class="ui fluid large basic blue button"><%= __('Sign Up')  %></button>
        </div>
        <div class="ui error message"></div>
      </form>

      <div class="ui message">
        <%= __('You are previous registered?') %> <a href="/account/signin"><%= __('Sign In')  %></a>
      </div>

  </div>
</div>
