<div id="modal-phrases-detail" class="ui small modal">
  <div class="header"><%= __('Updating Phrase') %> </div>
  <div class="content">
    <div class="ui form">

      <div class="field">
        <label>Text </label>
        <input type="text" id="phrase_text" placeholder="<%= __('Update the phrase') %>">
      </div>

      <div class="field">
        <label>Pronuntiation </label>
        <input type="text" id="phrase_text" placeholder="<%= __('Update the pronuntiation') %>">
      </div>

    </div>
  </div>
  <div class="actions">
    <div class="ui approve green button"><%= __('Approve') %> </div>
    <div class="ui cancel red button"><%= __('Cancel') %> </div>
  </div>
</div>
