<div id="modal-traductions" class="ui small modal">
  <div class="header"><%= __('Add Traduction') %> </div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label><%= __('Comment') %> </label>
        <input type="text" id="comment" placeholder="<%= __('Write a comment') %>">
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui approve green button"><%= __('Approve') %> </div>
    <div class="ui cancel red button"><%= __('Cancel') %> </div>
  </div>
</div>