<div id="modal-phrases" class="ui small modal">
  <div class="header"><%= __('Add Phrase') %> </div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label><%= __('Ruso') %> </label>
        <input type="text" id="phrase_ru" placeholder="<%= __('Write a russian phrase') %>">
      </div>
      <div class="field">
        <label><%= __('English') %> </label>
        <input type="text" id="phrase_en" placeholder="<%= __('Write a english phrase') %>">
      </div>
      <div class="field">
        <label><%= __('Spanish') %> </label>
        <input type="text" id="phrase_mx" placeholder="<%= __('Write a spanish phrase') %>">
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui approve green button"><%= __('Approve') %> </div>
    <div class="ui cancel red button"><%= __('Cancel') %> </div>
  </div>
</div>
