<div id="modal-phrases" class="ui small modal">
  <div class="header"><%= __('Add Phrase') %> </div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label><%= __('Frase') %> </label>
        <input type="text" id="phrase_native" placeholder="<%= __('Write a russian phrase') %>">
      </div>
      <div class="field">
        <label><%= __('Aprende') %> </label>
        <input type="text" id="phrase_language" placeholder="<%= __('Write a english phrase') %>">
      </div>
      <div class="field">
        <label><%= __('Source') %> </label>
        <div id="source" class="ui selection dropdown">
          <input type="hidden">
          <i class="dropdown icon"></i>
          <div class="default text">Seleccione</div>
          <div class="menu">
            <% _.each(sources, function (source){ %>
              <div class="item" data-value="<%= source.id %>"><%= source.name %></div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui approve green button"><%= __('Approve') %> </div>
    <div class="ui cancel red button"><%= __('Cancel') %> </div>
  </div>
</div>
