<%- include ../menu %>

<div id="friendListController" style="margin-top:20px;min-height:600px;" class="ui grid container">

		<div class="three wide column">
			<%- include ../secondarymenu %>
		</div>

		<div style="min-height:550px;" class="nine wide column">
      <!-- <div style="min-height:550px;" class="ui segment">
        <h1 class="ui header"><%= __('Friends') %> </h1>
				<a class="ui secondary basic link button" href="/requests">8 Solicitudes</a>
        <div class="ui divider"></div>

				<div id="friendList" class="">

				</div>
      </div> -->

			<div class="ui top attached tabular menu">
				<a class="<% if(secondary === 'friends'){ %>active <% } %>item" href="/friends">
			    <%= __('Friends') %>
			  </a>
			  <a class="<% if(secondary === 'requests'){ %>active <% } %>item" href="/requests">
			    <%= __('Requests') %>
			  </a>
			  <a class="<% if(secondary === 'invitations'){ %>active <% } %>item" href="/invitations">
			    <%= __('Invitations') %>
			  </a>
			  <div class="right menu">
			    <div class="item">
			      <div class="ui transparent icon input">
			        <input placeholder="Search users..." type="text">
			        <i class="search link icon"></i>
			      </div>
			    </div>
			  </div>
			</div>
			<div style="min-height:510px;" class="ui bottom attached segment">
				<div id="friendList" class="">

				</div>
			</div>


    </div>

		<div class="four wide column">
      <div style="min-height:550px;" class="ui segment">

				<h4 class="ui header">Personas que estudian el mismo idioma</h4>
				<div class="ui divider"></div>
				<div id="maybeList" class="">

				</div>


      </div>
		</div>

</div>
