
<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item">LINGUANSKI</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button" href="/account/signin"><%= __('Login') %></a>
      </div>
      <div class="item">
        <a class="ui primary button" href="/account/signup"><%= __('Sign Up') %></a>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">LINGUANSKI</a>
  <a class="item" href="/account/signin"><%= __('Login') %></a>
  <a class="item" href="/account/signup"><%= __('Sign Up') %></a>
</div>


<!-- Page Contents -->
<div class="pusher">
  <div id="homePage" class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item">LINGUANSKI</a>
        <div class="right item">
          <% if(req.session.authenticated){ %>
            <a class="ui inverted button" href="/dashboard"><%= __('Dashboard') %></a>
          <% }else{ %>
            <a class="ui inverted button" href="/account/signin"><%= __('Login') %></a>
            <a class="ui inverted button" href="/account/signup"><%= __('Sign Up') %></a>
          <% } %>
        </div>
      </div>
    </div>

    <div class="ui text container">
      <% if(req.session.authenticated){ %>
        <h1 class="ui inverted header">
          <%= __('Welcome') %> <%= req.session.user.name %>
        </h1>
        <h2>Siga practicando.</h2>
        <a href="/dashboard" class="ui huge primary button"> <%= __('Ir a dashboard') %> <i class="right arrow icon"></i></a>
      <% }else{ %>
      <h1 class="ui inverted header">
        Linguanski
      </h1>
      <h2><%= __('Practise a language with phrases.') %></h2>
      <a href="/account/signin" class="ui huge primary button"> <%= __('Sign Up') %> <i class="right arrow icon"></i></a>
      <% } %>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Aprende idiomas de una manera didacta</h3>
          <p>Aprende ingles y ruso y muchas lenguas mas.</p>
          <h3 class="ui header">Aprenda a su propio ritmo</h3>
          <p>Mas de <%= users.length %>00 usuarios estan aprendiendo con mas de <%= phrases.length %>000 frases.</p>
        </div>
        <div class="six wide right floated column">
          <img src="/images/sectionmedia.jpg" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button" href="/account/signin"><%= __('Login') %></a>
        </div>
      </div>
    </div>
  </div>


  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"Aprender el idioma ruso es una aventura."</h3>
          <p><b>@AlexanderMiss</b></p>
        </div>
        <div class="column">
          <h3>"Aprender con ellos es verdaderamente sencillo."</h3>
          <p><b>@EmanuellParedes</b></p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">Nos preocupamos por el aprendizaje</h3>
      <p>Cada dinámica está construída para ayudarte a entender de la mejor manera posible.</p>
      <!-- <a class="ui large button"><%= __('Read More') %></a> -->
      <h4 class="ui horizontal header divider">
        <!-- <a href="/account/signup"><%= __('Case Studies') %></a> -->
      </h4>
      <h3 class="ui header">Seguimos trabajando en mejoras</h3>
      <p>Para construir un mejor aprendizaje renovamos nuestras dinámicas para hacerte sentir a gusto.</p>
      <!-- <a class="ui large button" href="/account/signup">Sí, quiero registrarme</a> -->
    </div>
  </div>


  <div class="ui inverted vertical footer segment" style="color: #000;">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid" style="color: #000;">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item" style="color: #000;">FAQ</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item" style="color: #000;">About us</a>
            <a href="#" class="item" style="color: #000;">Contact Us</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Diviértete</h4>
          <p>Juega con las frases en varios idiomas y te divertirás aprendiendo.</p>
        </div>
      </div>
    </div>
  </div>
</div>
