
<div class="ui stackable pointing menu">

  <a class="active item">
    <%= __('Start') %>
  </a>
  <a class="item" href="/phrases">
    <%= __('Phrases') %>
  </a>
  <a class="item">
    <%= __('Conversations') %>
  </a>

  <div class="right menu">
    <div id="menu" class="ui dropdown item">
      <%= __('Language') %> <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">Español</a>
        <a class="item">Ruso</a>
        <a class="item">Inglés</a>
      </div>
    </div>
    <div class="item">
        <% if(req.session.authenticated){ %>
        <a class="ui primary button"><%= __('Logout') %></a>
        <% }else{ %>
        <a class="ui primary button"><%= __('Sign Up') %></a>
        <% } %>
    </div>
  </div>
</div>
