
<div style="background-color:#001C20;color:#000000;" class="ui attached stackable menu">
  <!-- <div class="ui container"> -->

    <a style="color:#ffffff;" class="active item">
      <%= __('LINGUANSKI') %>
    </a>
    <a style="color:#ffffff;" class="item" href="/phrases">
      <%= __('Phrases') %>
    </a>
    <a style="color:#ffffff;" class="item" href="/practise">
      <%= __('Practica') %>
    </a>
    <a style="color:#ffffff;" class="item" href="/friends/list">
      <%= __('Friends') %>
    </a>
    <% if (_.includes(['superadmin'], session.user.role)){ %>
      <a style="color:#ffffff;" class="item" href="/accounts/authorizations">
        <%= __('Accounts') %>
      </a>
    <% } %>
    <div style="color:#ffffff;" class="right menu">

      <!-- <div style="color:#ffffff;" id="menu" class="ui dropdown item">
        <%= __('Language') %> <i class="dropdown icon"></i>
        <div class="menu">
          <a style="color:#ffffff;" class="item">Español</a>
          <a style="color:#ffffff;" class="item">Ruso</a>
          <a style="color:#ffffff;" class="item">Inglés</a>
        </div>
      </div> -->

      <div class="ui pointing dropdown link item">
        <span style="color:#ffffff;" class="text"><%= req.session.user.name %></span>
        <i style="color:#ffffff;" class="dropdown icon"></i>
        <div class="menu">
          <% if(req.session.authenticated){ %>
          <a href="/account/logout" class="item"><%= __('Logout') %></a>
          <% }else{ %>
          <a href="/account/signin" class="item"><%= __('Sign Up') %></a>
          <% } %>
        </div>
      </div>

    </div>

  <!-- </div> -->
</div>
