<div style="background-color:#001C20;color:#000000;border:none;" class="ui attached menu">
  <div class="ui container">

    <a style="color:#ffffff;" class="active item" href="/dashboard">
      <%= __('LINGUANSKI') %>
    </a>
    <a style="color:#ffffff;" class="item" href="/phrases">
      <%= __('Phrases') %>
    </a>
    <a style="color:#ffffff;" class="item" href="/practise">
      <%= __('Practica') %>
    </a>
    <a style="color:#ffffff;" class="item" href="/friends">
      <%= __('Friends') %>
    </a>

    <div style="color:#ffffff;" class="right menu">

      <a style="color:#ffffff;" class="item" href="/profile?id=<%= req.session.profile.id %>">
        <img class="ui avatar image" src="<%= req.session.user.photo %>"> <%= req.session.user.name %>
      </a>

      <div class="ui pointing dropdown link item">
        <span style="color:#ffffff;" class="text">Opciones</span>
        <i style="color:#ffffff;" class="dropdown icon"></i>
        <div class="menu">
          <% if(req.session.authenticated){ %>
            <% if (_.includes(['superadmin'], session.user.role)){ %>
              <a style="color:#ffffff;" class="item" href="/admin/authorizations">
                <%= __('Accounts') %>
              </a>
            <% } %>
            <a href="/account/logout" class="item"><%= __('Logout') %></a>
          <% }else{ %>
            <a href="/account/signin" class="item"><%= __('Sign Up') %></a>
          <% } %>
        </div>
      </div>

    </div>

  </div>
</div>
